@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&family=Space+Mono:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #2e2e2e;
  background-blend-mode: difference;
  padding: 32px;
  background-image: url(./assets/back.png);
  background-repeat: repeat;
}

.inner {
  text-align: center;
  color: #d7d7d7;
}

h1 {
  font-family: 'Over the Rainbow', cursive;
  font-size: 5em;
  background-blend-mode: overlay;
}

.inner-div {
  width: 100%;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate {
  -ms-transform: rotate(90deg); /* IE 9 */
  transform: rotate(90deg);
}

.rotate-reverse {
  -ms-transform: rotate(-90deg); /* IE 9 */
  transform: rotate(-90deg);
}

p {
  font-family: 'Space Mono', monospace;
  font-size: 10px;
}

span {
  color: orange;
}

.pulse {
  font-weight: 500;
  animation: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-in-and-out;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    font-size: 4em;
  }

  100% {
    font-size: 5em;
  }
}
